<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Tasty</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="shortcut icon" th:href="@{/images/your-icon.png}" type="image/x-icon">
</head>

<body>

<!-- <header th:replace="includes/header"></header> -->
<div class="sub-bar">
    <p>Livraison offerte d&egraves 50&euro; d'achats</p>
</div>

<div class="carre">
    <div class="top-left">
        <img src="https://cdn.discordapp.com/attachments/828747739156185178/1180477756526579784/the-vert-aux-feuilles-the_758367-3404.png"
             alt="Image">
    </div>
    <div class="top-right">
        <h2>L'art du thé</h2>
        <p>Découvrez l'art et la saveur dans chaque infusion. Chez nous, le thé n'est pas seulement une boisson,
            c'est une expérience. Parcourez notre large sélection de thés soigneusement sélectionnés à travers le
            monde. De délicats thés verts aux puissants thés noirs, nous vous offrons un voyage sensoriel unique à
            chaque tasse.</p>
        <a href="#boutique" class="button">Découvrir</a>
    </div>
</div>

<section>
    <h2 id="boutique"><br>NOS PRODUITS</h2>
    <hr>
    <div class="texte-produits">
        Plongez dans une expérience sensorielle unique avec notre sélection de thés soigneusement choisis à travers
        le monde. Explorez des saveurs délicates, des arômes envoûtants et des mélanges authentiques qui sauront
        ravir vos papilles.
    </div>
</section>

<!-- Affichage des messages d'erreur ou de succès -->
<div class="error" th:if="${param.error}">L'article n'a pas pu être ajouté. Veuillez réessayer.</div>
<div class="success" th:if="${param.success}">Ajout de l'article réussi</div>

<div class="presentation">
    <div class="product" th:each="productArray : ${products}">
        <a th:href="@{'/products/' + ${productArray[1].toLowerCase().replace(' ', '').replace('é', 'e').replace('è', 'e').concat('.jsp')}">
            <form action="addtocart" method="post">
                <input type="hidden" name="productId" th:value="${productArray[0]}">
                <img th:src="${productArray[3]}" th:alt="${productArray[1]}">
                <h3 th:text="${productArray[1]}"></h3>
                <p>Prix: <span th:text="${productArray[2]}"></span>€</p>
                <button type="submit">Ajouter au panier</button>
            </form>
        </a>
    </div>
</div>

<!-- <footer th:replace="includes/footer"></footer> -->

</body>

</html>
